

.header-content{
    min-height: 50vh;
}
#headerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#pixelCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--themed-secondary);
    transition: color 0.3s ease;
}   


@media (max-width: 768px) {
    #mainHeader {
        padding: 30px 15px;
    }

    .page-content {
        padding: 40px 15px;
    }
}