

#mainHeader{
    min-height: 50vh;
  transition: padding 0.3s ease-out;
  padding-top: 40px; padding-bottom: 40px;
}

.main-content {
    margin-top: -40px;
}
#headerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

#pixelCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--themed-secondary);
    transition: color 0.3s ease;
}   


@media (max-width: 768px) {
    #mainHeader {
        padding: 30px 15px;
    }

    .page-content {
        padding: 40px 15px;
    }
}

.blinking-text{
  animation: blinking-anim 2s infinite ease-in-out;
}

@keyframes blinking-anim {
  0% { opacity: 0.6}
  50% { opacity: 0.2;}
  100% { opacity: 0.6}
}