{{ define "header-content" }}
<link rel="stylesheet" href="/css/writing.css">

<canvas class="pixel-canvas" id="pixelCanvas"></canvas>
<div class="heading-content">
        <span class="heading-quote">Design, tech and random stuff</span>
        <p>If you’re thinking without writing, you only think you’re thinking.</p>
</div>
{{ end }}

{{ define "main" }}
<div class="writing-section">
<h1>writing</h1>
<p>I write about design, tech and anythink I'm thinking about. This is an exercise in me understanding how things work.</p>

<div class="essay-container">
{{ range .Pages.ByDate.Reverse }}
    <div class="essay-list-item">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <small class="light-text"> {{ .Date.Format "Jan 2, 2006" }}</small>
    </div>
{{ end }}
</div>
</div>


{{ end }}
