<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} </title>
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    
    <link rel="icon" type="image/x-icon" href="/assets/default.png">
    <link rel="stylesheet" href="/css/global.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap" rel="stylesheet">
</head>
<body>

    <main class="main-content default-expanded">
        <div class="navigation">
            <a href="{{ "/" | relURL }}" class="{{ if eq .RelPermalink "/" }}active{{ end }}">working</a>
            <a href="{{ "/writing/" | relURL }}" class="{{ if eq .RelPermalink "/writing/" }}active{{ end }}">writing</a>
            <a href="{{ "/painting/" | relURL }}" class="{{ if eq .RelPermalink "/painting/" }}active{{ end }}">painting</a>

            <div style="position: absolute; right: 10px; display:flex; gap: 30px">
                <a href="{{ "/about/" | relURL }}" class="{{ if eq .RelPermalink "/about/" }}active{{ end }}" data-expand="true">[ about me ]</a>
                <a href="{{ "/resume/" | relURL }}" class="{{ if eq .RelPermalink "/resume/" }}active{{ end }}" data-expand="true">[ resume ]</a>
            </div>
        </div>

        <div class="container">
            {{ .Content }}
        </div>
    </main>
    </body>
    
</html>