{{ define "header-content" }}
<div id="mainHeader">
        <img id="headerImage" src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=1600" alt="Header">
        <canvas id="pixelCanvas"></canvas>
        <div id="content">
            <h1 id="heading">software is eating the world</h1>
            <p class="subheading">Scroll up or pull down to change the image</p>
        </div>
    </div>
    <script src="/scripts/scroll-switcher.js"></script>
    <link rel="stylesheet" href="/css/painting.css">

{{ end }}

{{ define "main" }}
<script>
        (function () {
    const colorSets = [
        ['#FF6542', '#393939'],
        ['#E80051', '#FFFFFF'],
        ['#F6AD00', '#FFF1D0'],
        ['#009B72', '#393939'],
        ['#393939', '#FFFFED'],
        ['#9747FF', '#FFFFED'],
        ['#0017E8', '#FFFFED'],
        ['#FF12AF', '#FFFFED'],
    ];

    const randomSet = colorSets[Math.floor(Math.random() * colorSets.length)];

    document.documentElement.style.setProperty('--themed-primary', randomSet[0]);
    document.documentElement.style.setProperty('--themed-secondary', randomSet[1]);
})();

    </script>
{{ end}}