:root{
    --white: #FFFFFF;
    --light: #FFFFED;

    --dark: #393939;
    --black: #000000;
    --gray: rgba(0, 0, 0, 0.1);

    --red: #E80051;
    --pink: #FF12AF;

    --orange: #FF6542;

    --yellow: #F6AD00;
    --yellow-10: #FFF1D0;

    --green: #009B72;
    --emrald: #24CF54;

    --purple: #9747FF;

    --blue: #0017E8;
}

/* Regular */
@font-face {
  font-family: "FT88";
  src: url("../fonts/FT88-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "FT88";
  src: url("../fonts/FT88-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "FT88";
  src: url("../fonts/FT88-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Gothique */
@font-face {
  font-family: "FT88 Gothique";
  src: url("../fonts/FT88-Gothique.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* School */
@font-face {
  font-family: "FT88 School";
  src: url("../fonts/FT88-School.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 

    Primitive classes 
    
*/

body {
    font-family: "Geologica", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: var(--light);
    margin: 0;
    font-size: 14px;
    position: relative;
}

header{
  transition: transform 0.3s ease, background-color 0.5s ease;
}

h1{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    opacity: 0.5;
}

h2{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}
a {
  font-family: "FT88", sans-serif;
  font-weight: 400;
  transition: all 0.2s ease;
  text-decoration: underline;
}

/* Define the flicker animation */
@keyframes flickerToItalic {
  0%   { font-style: normal;}
  15%  { font-style: italic; color: var(--light); }
  30%  { font-style: normal;}
  45%  { font-style: italic; color: var(--light); }
  60%  { font-style: normal;}
  75%  { font-style: italic; color: var(--light); }
  100% { font-style: italic; color: var(--light); }
}

a:hover {
  animation: flickerToItalic 0.8s ease-in-out forwards;
  background-color: var(--yellow);
}


p{
  margin: 0;
  margin-bottom: 1em;  
}

.container{
  margin-bottom: 3em;
}

/*
    
    Top heading

*/
.main-header{
  position: relative;
  transition: padding 0.1s ease-out;
  overflow: hidden;
}

.top-nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
    font-family: 'FT88 School', sans-serif;
    font-size: large;
    color: var(--dark);
    position: relative;
    transition: color 0.3s ease;
    transition: color 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.heading-content{
    padding: 40px 6em;
    text-align: center;
    color: var(--dark);
    position: relative;
    z-index: 3;
    transition: padding-top 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94), 
              padding-bottom 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
.heading-quote {
    margin: 5px 0;
    font-family: 'FT88 School', sans-serif;
    font-size:xx-large;
    margin-bottom: 0px;
    transition: color 0.3s ease;
    transition: color 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.pixel-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*

    Main content

*/
.main-content{
    border-radius: 20px;
    background: var(--white);
    min-height: 100vh;
    margin: 0 2em;
    border-top: 3px solid var(--gray);;
    padding: 6em;
    color: var(--dark);
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px 20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Projects Section */

.projects-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 5rem;
  position: relative;
  padding: 2em 0;
  border-top: 1px solid var(--gray);
}


.projects-year {
  position: sticky;
  top: 2rem;
  flex: 0 0 150px;
  height: fit-content;
}

.project-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-card {
  padding: 1.5rem;
  border-radius: 12px;
  height: 200px;
  background: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* 

Footer

*/

/* Footer */
footer {
  border-radius: 20px;
  background: var(--white);
  margin: 2em;
  border-bottom: 3px solid var(--gray);
  padding: 2em 6em;
  color: var(--dark);
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px 20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer-head {
  font-family: "FT88 Gothique", sans-serif;
  font-size: clamp(3rem, 12vw, 10rem);
  margin: auto 0;
  margin: 3rem 0;
  color: var(--blue);
  line-height: 1;
}

.footer-content {
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 4rem 2rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.75rem;
}

.footer-bottom {
  margin: 1rem auto 0;
  padding-top: 2rem;
  border-top: 1px solid #e0e0e0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 30px;
  color: var(--dark);
}

.footer-bottom p {
  margin-bottom: 0.5rem;
}

.footer-bottom li {
  list-style: none;
  margin-top: 0.5rem;
}

